<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What To Trade</title>
</head>
<body>
    <h2>Welcome to What To Trade</h2>
    <form action="/result" method="get">
        <select name="indicator" id="indicator">
            <option value="MA">MA</option>
            <option value="RSI">RSI</option>
            <option value="ALL">ALL</option>
        </select>
        <input type="number" name="period" placeholder="periods" id="periods" step="1"/>
        <input type="submit" value="Check">
    </form>
    <script>
        const indicator = document.querySelector("#indicator")
        const periods = document.querySelector("#periods")

        indicator.addEventListener("change", _ => {
            if(indicator.value == "RSI") {
                console.log("lol")
                periods.style.display = "none"
            }
            else {
                periods.style.display = ""
            }
        })
    </script>
</body>
</html> 